{% include 'header.html' %}
 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js" integrity="sha512-qXjK7fRhV6plK/Vpaknn+5Fe0dXhJqdbiQKpLghl0XKir10zEEzSNqheA1MY7nh9H8cu7giAYTibHTBvt37PQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
     var socket = io.connect('http://localhost:5000');

     socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        });
        $('#sendBtn').on('click', function () {
        var user_input = $('#message').val()
        var user_name = $('#username').val()
        socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          })
        console.log('message sent');
        $('#message').val('');



        });
     });

      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
            const node = document.createElement("li");
            const textnode = document.createTextNode(msg.user_name + ': ' + msg.message);
            node.appendChild(textnode);
            document.getElementById("messages").appendChild(node);

        }
      })
    </script>



<div id="messages"></div>

<input type="text" id="username" placeholder="User Name"/>
<input type="text" id="message" placeholder="Messages"/>
<button id="sendBtn">Send</button>





    {% include 'footer.html' %}
    <script src="/static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>