{% include "header.html" %}
    <center>
    <div>
        <center>
            {% if user.user_image  == None %}
            <img style='border-radius: 50%;height: 2.5ems;' src="{{'georgefavour.sochi@gmail.com' | gravatar}}" alt="">
            {% else %}
            <img style='border-radius: 50%;height: 2.5ems;' src="{{user.user_image}}" alt="">
            {% endif %}
        </center>
        <center><b>{{user.username}}</b></center>
        {% if user.bio == None %}
        <p>Please update your profile to add location for us to find babysitters and pets in your location</p>
        {% else %}
        <center><p style=" display:inline-block;
        ">
            {{user.bio}}</p></center>
        {% endif %}
       <a href="{{url_for('update_profile', user=user.id)}}">
        <button type="submit" class='btn btn-primary'>Edit Profile</button>
            </a>

    </div>
        </center>
    <center>
        <br>
    <form class="login100-form validate-form" method="post" enctype="multipart/form-data">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Add a Pet
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="petname" placeholder="Pet Name">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
                        <br>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="text" name="type" placeholder="Pet Type (dog, cat...)">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
                        <br>


                    <div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="text" name="specie" placeholder="Pet Specie (husky etc)">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
        <br>
                     <div class="wrap-input100 validate-input" data-validate="Enter password">
						<textarea name="about" rows="4" cols="50" placeholder="About Pet"></textarea>
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
                        <br>

                <center>
                        <label class="btn btn-primary">Pet Image<input type="file" name='image_upload' style="display:none;"></label>


                    </center>
                    <br>

					<div class="container-login100-form-btn">
                        <a href="{{url_for('dashboard', ll=user.id)}}">
						<button class="login100-form-btn ">
							Add!
						</button>
                            </a>
					</div>


				</form>
        </center>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row mb-4">
            <center>
            <h2 class="col-6 tm-text-primary">
                Latest Posts of {{user.name}}
            </h2>
                </center>

        </div>
        <div class="row tm-mb-90 tm-gallery">
            {% for post in posts %}
        	<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5 gallery ">
                <figure class="effect-ming tm-video-item">
                    <img src="/static/user_images/{{post.image}}" alt="Image" class="img-fluid" style="height:400px;width:auto">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{post.pet_type}}</h2>
                        <a href="photo-detail.html">View more</a>
                    </figcaption>
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span class="tm-">{{post.date}}</span>
                    <span>{{post.pet_name}}</span>
                </div>
            </div>

            {% endfor %}

    </div> <!-- container-fluid, tm-container-content -->

    {% include "footer.html" %}

    <script src="/static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>