{% include 'header.html' %}
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/static/img/hero.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <center>
<h2 class="col-6 tm-text-primary">
                Latest Posts in your Area
            </h2>
            </center>
        <br>
        <div class="row tm-mb-90 tm-gallery">
            {% if posts == [] %}
            <center>
                <h6 class="tm-text-primary">There are no posts yet in your area</h6>
            </center>
            {% else %}
                {% for post in posts %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                    <figure class="effect-ming tm-video-item">
                        <img src="/static/user_images/{{post.image}}" alt="Image" class="img-fluid" style="height:400px;width:auto">
                        <figcaption class="d-flex align-items-center justify-content-center">
                            <h2>{{post.pet_type}}</h2>
                            <a href="{{url_for('post', post_id=post.id)}}">View more</a>
                        </figcaption>
                    </figure>
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="">{{post.date}}</span>
                        <span>9,906 views</span>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        </div> <!-- row -->

    </div> <!-- container-fluid, tm-container-content -->

    {% include 'footer.html' %}
    
    <script src="/static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>