<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petslo</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
<!--

TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="fas fa-paw mr-2"></i>
                Petslo
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {% if logged_in == True and feed == True %}

                <li class="nav-item">
                    <a class="nav-link nav-link-1 " aria-current="page" href="{{url_for('dashboard', ll=user.id)}}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1 " aria-current="page" href="{{url_for('logout')}}">Logout</a>
                </li>
                {% elif logged_in == true %}
                <li class="nav-item">
                    <a class="nav-link nav-link-1 " aria-current="page" href="{{url_for('feed', user=user.id)}}">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1 " aria-current="page" href="{{url_for('logout')}}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link nav-link-1" aria-current="page" href="{{url_for('signup')}}">Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1" href="{{url_for('login')}}">Login</a>
                </li>
                {% endif %}

            </ul>
            </div>
        </div>
    </nav>