{% include 'header.html' %}
    <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="/static/img/hero.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>

    <div class="container-fluid tm-container-content tm-mt-60">
        <div class="row tm-mb-90">            
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <img src="/static/user_images/{{post.image}}" alt="Image" class="img-fluid" style="height:400px;width:400px">

            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">

                    <div class="mb-4">
                        <h4 class="tm-text-gray-dark mb-3">Pet Name: {{post.pet_name}}</h4>

                    </div>
                    <div class="mb-4">
                        <h4 class="tm-text-gray-dark mb-3">Pet Type: {{post.pet_type}}</h4>

                    </div>
                    <div class="mb-4">
                        <h4 class="tm-text-gray-dark mb-3">Pet Specie: {{post.pet_specie}}</h4>

                    </div>
                <div class="mb-4">
                        <h4 class="tm-text-gray-dark mb-3">About Pet</h4>
                        <h6>{{post.pet_about}}</h6>

                    </div>
                <div class="mb-4">
                        <h4 class="tm-text-gray-dark mb-3">Posted By:<a href="{{url_for('dashboard', ll=auth.id)}}"> {{auth.name}}</a> </h4>

                    </div>
                <div class="mb-4">
                        <h4 class="tm-text-gray-dark mb-3">Date Posted: {{post.date}}</h4>

                    </div>
                 <div class="mb-4">
                     <a href="{{url_for('contact', em=auth.email)}}">
                     <button class="btn btn-primary">Email Owner</button>
                        </a>
                    </div>


                </div>
            </div>
        </div>
        <div class="row mb-4">
            <h2 class="col-12 tm-text-primary">
                Related Photos
            </h2>
        </div>
        <div class="row mb-3 tm-gallery">
            {% for post in posts %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
                <figure class="effect-ming tm-video-item">
                    <img src="/static/user_images/{{post.image}}" alt="Image" class="img-fluid" style="height:400px;width:auto">
                    <figcaption class="d-flex align-items-center justify-content-center">
                        <h2>{{post.pet_type}}</h2>
                        <a href="{{url_for('post', post_id=post.id, ll=user.id)}}">View more</a>
                    </figcaption>                    
                </figure>
                <div class="d-flex justify-content-between tm-text-gray">
                    <span>{{post.date}}</span>

                </div>
            </div>
            {% endfor %}

        </div> <!-- row -->
    </div> <!-- container-fluid, tm-container-content -->

   {% include 'footer.html' %}
    
    <script src="/static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>